/* general definitions */

body { background-color: #F9F9F9; }

line, polyline, path { stroke: black; stroke-width: 1px; fill: none; }

/* specific elements of zwl image */

.trainpath { stroke: #444; stroke-width: 1.5px; }
.trainpathbg { stroke: blue; stroke-width: 15px; stroke-opacity: .01; stroke-linecap:round; }
.trainpathg:hover .trainpathbg { stroke-opacity: .1; }
.trainpathg:hover .trainpath, .trainpathg.selected .trainpath { stroke: black; stroke-width: 2.5px; }
.trainpathg:hover .trainlabel rect, .trainpathg.selected .trainlabel rect { fill: black; stroke: black; }

.trainlabel rect { fill: #444; opacity: .9; stroke: #444; }
.trainlabel text { fill: white; }

.nowmarker { stroke: #bb0; stroke-width: 2px; }
.pastblur { stroke: none; fill: white; }
.pastblur-past { fill-opacity: .6; }

.trainboxframe { stroke: black; stroke-width: 1px; fill: white; }

.locaxis text { text-anchor: middle; }
.locaxis .button rect { fill: white; stroke: black; stroke-width: 1px; }
.locaxis .button path { fill: black; }


.timeaxis .axis { cursor: -webkit-grab; cursor: grab; }
.timeaxis .axis.grabbing { cursor: -webkit-grabbing; cursor: grabbing; }
.timeaxis-bg { fill: white; }

.timeaxis .zoombuttons g { cursor: pointer; }
.timeaxis .zoombuttons g rect { fill: white; stroke: black; stroke-width: 1px; }
.timeaxis .zoombuttons g path { fill: none; stroke: black; stroke-width: 2px; }
.timeaxis .zoombuttons .bg { fill: white; }
