/* general definitions */

body.theme_dark { background-color: #111; }
body.theme_dark { color: white; }

line, polyline, path { stroke: white; stroke-width: 1px; fill: none; }
text { fill: white; }

/* specific elements of zwl image */

.trainpath line { stroke: white; stroke-width: 1.5px; stroke-linecap: round; pointer-events: none; }
.trainpathbg { stroke: white; stroke-width: 15px; stroke-opacity: 0; pointer-events: stroke; stroke-linecap: round; }
.trainpathg.selected .trainpath line { stroke-width: 2.5px; }
.trainpath line.opposite { stroke-dasharray: 6,8; }

.trainlabelg { opacity: .8; }
.trainlabelg.selected { opacity: 1; }
.trainlabel rect { fill: #111; stroke: none; }
.trainlabel text { fill: white; pointer-events: none; }

.nowmarker { stroke: #bb0; stroke-width: 2px; }
.pastblur { stroke: none; fill: white; }
.pastblur-past { fill-opacity: .4; }

.trainboxframe { stroke: white; stroke-width: 1px; fill: #222; }

.locaxis text { fill: white; text-anchor: middle; }
.locaxis .button rect { fill: #111; stroke: white; stroke-width: 1px; }
.locaxis .button path { fill: white; }
.locmarkers line { fill: none; stroke-width: 0.5px; }

.timeaxis .axis { cursor: -webkit-grab; cursor: grab; }
.timeaxis .axis.grabbing { cursor: -webkit-grabbing; cursor: grabbing; }
.timeaxis g text { fill: white; }
.timeaxis-bg { fill: #111; }

.timeaxis .zoombuttons g { cursor: pointer; }
.timeaxis .zoombuttons g rect { fill: #111; stroke: white; stroke-width: 1px; }
.timeaxis .zoombuttons g path { fill: none; stroke: white; stroke-width: 2px; }
.timeaxis .zoombuttons .bg { fill: #111; }
